body {
	margin: 0px;
	padding: 0px; 
}

.body {
	border: solid 2px black;
	width: 100vw;
	height: 98vh;
}

.car {
	position: absolute;
	top: 680px;
	left: 345px;
	width: 122px;
	height: 77px;
	transform: rotate(-90deg);
	z-index: 100;
}

.ready {
	left: 345px;
	top: 380px;
	width: 77px;
	height: 122px;
	border-right: solid black 1px;
	border-left: solid black 1px;
	border-bottom: solid black 1px;
}

.parkinglot {
	width: 845px;
	z-index: 0;
}

